body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.admin-dashboard {
    padding: 20px;
}

.admin-info, .team-table, .calendar, .charts, .task-assignment {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #5fcfdb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5fcfdb;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.chart-container {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

/* Adjust the canvas size */
canvas {
    width: 300px !important; /* Set width of the chart */
    height: 200px !important; /* Set height of the chart */
}
